# Backend configuration for dev environment
bucket         = "terraform-state-redshift-migration"
key            = "redshift-data-sharing/{{env}}/terraform.tfstate" # Replace {{env}} with actual environment e.g. 'dev'....
region         = "us-west-2"
encrypt        = true
dynamodb_table = "terraform-state-locks"